{{> menu id ="about"}}

<div class="ui centered card">
    <div class="image">
        <img src="/stevie.jpg" alt="stevie image">
    </div>
    <div class="content">
        <a class="header">Stevie</a>
        <div class="meta">
            <span class="date">Joined in 2023  </span>
        </div>
        <div class="description">
            is an living in Dublin, Ireland. He is a software developer and has a passion for music and playlists.
        </div>
    </div>
    <div class="extra content">
        <a>
            <i class="user icon"></i>
            contacts
        </a>
    </div>
</div>